<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/panelad"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Agremiados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <ion-card-content>

      <div class="table-container">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>NUE</th>
              <th>NUP</th>
              <th>RFC</th>
              <th>NSS</th>
              <th>Fecha de Nacimiento</th>
              <th>Teléfono</th>
              <th>Cuota</th>
              <th>Género</th>
              <th>Rol</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agremiado of agremiados">
              <td>{{ agremiado.nombre }}</td>
              <td>{{ agremiado.apellido_p }}</td>
              <td>{{ agremiado.apellido_m }}</td>
              <td>{{ agremiado.NUE }}</td>
              <td>{{ agremiado.NUP }}</td>
              <td>{{ agremiado.RFC }}</td>
              <td>{{ agremiado.NSS }}</td>
              <td>{{ agremiado.fecha_nacimiento }}</td>
              <td>{{ agremiado.telefono }}</td>
              <td>{{ agremiado.cuota }}</td>
              <td>
                <ng-container *ngFor="let genero of generos">
                  <ng-container *ngIf="agremiado.id_genero === genero.id">
                    {{ genero.genero }}
                  </ng-container>
                </ng-container>
              <td>
              <ng-container *ngFor="let rol of roles">
                <ng-container *ngIf="agremiado.id_rol === rol.id">
                  {{ rol.rol }}
                </ng-container>
              </ng-container>
            </td>
            <td>
              <!-- Botones de acciones -->
              <ion-button (click)="editarAgremiado(agremiado)" fill="clear">
                <ion-icon slot="icon-only" name="create" color="primary"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="eliminarAgremiado(agremiado.id)">
                <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
              </ion-button>              
            </td>              
          </tr>
          </tbody>
        </table>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
