<ion-header [translucent]="true" class="ion-header-centered">
  <ion-toolbar color="dark">
    <ion-buttons class="iconos">
      <ion-button (click)="verFormatos()" >
        <ion-icon slot="icon-only" name="document-outline" class="iconos"></ion-icon>
        Formatos
      </ion-button>
      <ion-button (click)="verConvocatorias()" >
        <ion-icon slot="icon-only" name="notifications-outline" class="iconos"></ion-icon>
        Convocatorias
      </ion-button>
      <ion-button (click)="verConvenios()">
        <ion-icon slot="icon-only" name="people-circle-outline" class="iconos"></ion-icon>
        Convenios
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">



<div id="form-ui">
  <form [formGroup]="loginForm" >
    <div id="form-body">
      <div id="welcome-lines">
        <div id="welcome-line-1">Agremiados</div>
        <div id="welcome-line-2">Sea Usted Bienvenido</div>
      </div>
      <div id="input-area">
        <div class="form-inp">
          <input placeholder="Username" type="text" formControlName="name" >
        </div>
        <div class="form-inp">
          <div style="display: flex; flex-direction: row-reverse; align-items: start;">
            <input placeholder="Password" [type]="showPassword ? 'text' : 'password'" formControlName="password">
            <ion-icon (click)="togglePasswordVisibility()" name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end"></ion-icon>
          </div>
        </div>        
      <div id="submit-button-cvr">
        <button id="submit-button" type="submit" (click)="login()">Login</button>
      </div>
      <div id="bar"></div>
    </div>
    </div>
  </form>
  </div>

</ion-content>
